.project-page {
  .container {
    img {
      width: 100%;
    }
  }

  .grid-item {
    img {
      // height: 80vh;
      // max-height: 1200px;
      max-height: 75vh;
      width: auto;
      margin: auto;
      object-fit: contain;
    }
  }

  .mobile-screens-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1750px;
    margin: auto;

    // &:not(:first-child) {
    //   margin-top: 80px;
    // }

    .mobile-screen {
      margin: 30px;
      margin: clamp(30px, 8vw, 60px);
      border-radius: 24px;
      height: 80vh;
      max-height: 710px;
      width: auto;
      box-shadow: rgba(#000, 0.15) 5px 5px 40px;
    }
  }

  .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .service-list {
      min-width: 280px;
      margin: 20px 5px;
      margin: clamp(20px, 3vw, 80px) 5px;

      p {
        font-size: 15px;
        line-height: 1.4;
        opacity: 0.5;
      }
    }
  }
}

.dark-mode {
  .project-page {
    .mobile-screens-container {
      .mobile-screen {
        background-color: #fff;
        border: solid 2px;
        // ensures consistent border width
        box-sizing: content-box;
      }
    }
  }
}
